.card {
    max-width: 500px;
    border-radius: 10px 10px 10px 10px;
    background: linear-gradient(to top, #51ce944d, rgb(255, 255, 255));
}

.form-control {
    width: 200px;
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(235, 234, 243);
}

@media (max-width: 500px) {
    .form-group {
        margin-top: 20px !important;
        display: block !important;
        text-align: left !important;

        input {
            text-align: left !important;
        }

        .form-control {
            width:  100%;
        }
    }
}