<div class="row g-0">
      <div class="col-12 col-lg-6 my-3">
          <div class="card mx-2 p-3">
            <canvas class="bar-char" 
            baseChart [datasets]="barChartData" 
            [labels]="barChartLabels" 
            [options]="barChartOptions"
            [plugins]="barChartPlugins" 
            [legend]="barChartLegend" [type]="'bar'">
            </canvas>
          </div>
        </div>
      
        <div class="col-12 col-lg-6 my-3">
          <div class="card mx-2 p-3" >
            <canvas class="base-chart" 
            baseChart [datasets]="pieChartData" 
            [labels]="pieChartLabels" 
            [type]="'pie'" 
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins" 
            [legend]="pieChartLegend">
            </canvas>
          </div>
        </div>
  </div>