<div class="w-25">
</div>
 <div class="h-100 full">
    <div class="row mt- g-0">
        <div class="col-6">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active text-center p-4" >
                    <p> {{ 'HOME.PAGE_1' | translate }}</p>
                  </div>
                  <div class="carousel-item text-center p-4">
                      <p>{{ 'HOME.PAGE_2' | translate }}</p>
                  </div>
                  <div class="carousel-item text-center p-4">
                    <p>{{ 'HOME.PAGE_3' | translate }}</p>
                </div>
              </div>
                </div>
        </div>
        <div class="col-6 mt-5 text-center">
          <div>
            <button routerLink="../login" > {{ 'REUSABLES.LOGIN' | translate }} </button>
          </div>
          <div class="mt-5">
            <button routerLink="../registration" > {{ 'REUSABLES.REGISTRATION' | translate }} </button>
          </div>
          
        </div>
    </div>
  </div>