@media(max-width: 870px){
    thead {
        display: none;
    }
    tbody{
        tr{
            td:before {
                content: attr(data-label);
                float: left;
                text-transform: uppercase;
                font-weight: bold;
            }

            td{
                display: block;
                text-align: right;
            }
        }
    }
}