.bg-grey {
    background-color: rgb(233, 227, 227);
}

.base-chart {
    height: 304px !important;
    max-width: 400px !important;
    width: 100% !important;
    margin: auto !important;
}

.bar-chart {
    height: 300px !important;
}